<ion-header>
  <ion-toolbar color="meme">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false" color="meme" fullscreen="true">
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <div class="swiper-zoom-container">
        <img [src]="imageUrl" height="100vh" />
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
